<div class="file-upload-input-container">
     <div class="file-upload-input">
         <div class="selected-file-label hidden" data-attach-point="selectedFileLabel" data-bind-value="selectedFileLabel"></div>
         <i class="glyphicon glyphicon-cloud-upload"></i>
         <span class="file-upload-dnd-prompt file-upload-select" data-attach-point="fileDND">${promptDragDrop}</span>
         <label class="file-upload-select">
             <input aria-label="${ariaLabel}" name="${name}" type="file" class="file-upload-file" accept="${acceptPattern}" data-attach-point="file">
            <span class="file-upload-prompt hyperlink">${prompt}</span>
         </label>
     </div>
</div>