<div class="opp-bullet-chart-outer ${baseClass}">
    <div class="opp-bullet">
        <div class="bullet-labels hidden" data-bind-content="labelsMarkup" data-attach-point="labels"></div>
        <div class="bullet-backing-container">
            <div class="bullet-backing ${backingClass}"></div>
            <div data-attach-point="bulletSegments" data-bind-content="bulletSegmentsMarkup" class="cornered"></div>
            <div class="bullet-actuals" data-attach-point="actual" data-bind-content="bulletActualsMarkup"></div>
        </div>
        <div class="bullet-tickmarks" data-bind-content="tickMarkup"></div>
        <div data-bind-content="thresholdsMarkup" class="bullet-thresholds"></div>
    </div>
</div>