<div class="${containerClass} measure-trend-chart">
    <div class="chart-container-outer" data-attach-point="chartContainerOuter">
        <div class="chart-title-container" data-attach-point="chartTitleContainerOuter">
            <i class="measure-status-icon"></i><h4 data-bind-value="chartTitle" data-attach-point="chartTitleContainer"></h4>
            <span class="title-minor" data-bind-value="chartTitleMinor" data-attach-point="chartTitleMinorContainer"></span>
        </div>
        <div data-attach-point="chartContainer"></div>
    </div>
</div>