<div class="confirmation-modal overlay">
    <div class="modal-window" data-attach-point="confirmationModal">
        <div class="modal-title" data-bind-value="title"></div>
        <div class="modal-container">
            <div class="modal-inner" data-bind-value="confirmationMessage"></div>
        </div>
        <div class="modal-footer">
            <button class="simple-button cancel-button" aria-label="click ${cancelButtonLabel}" data-attach-point="cancelButton" data-bind-value="cancelButtonLabel"></button>
            <button class="primary-button confirm-button" aria-label="click ${confirmButtonLabel}" data-attach-point="confirmButton" data-bind-value="confirmButtonLabel"></button>
        </div>
    </div>
</div>