<div class="widget-select">
    <div class="selection-list-prompt-container" data-attach-point="selectionListContainer">
        <div class="btn-group bootstrap-select show-tick fit-width" data-attach-point="placeholder">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="bs-caret"><span class="caret"></span></span>
            </button>
        </div>
        <select aria-label="${ariaLabel}" data-attach-point="selectpicker" class='selectpicker hidden' ${multiple}${disabled}></select>
    </div>
    <div data-attach-point="selectedOptionTags"></div>
</div>