<div class='app-context-summary-item${inactive}${status}${lastChild}${odd}${noDescr}${interactive}${selected}${idClass}${dividerClass}${centered}${highlighted}' data-index="${index}" style="width: ${width};">
    <div class='header-label'>${descr}</div>
    <div class='header-value' data-attach-point="valueNode">
        <span class='header-value-prefix'>${prefix}</span>
        <span class='header-value-text'>${val}</span>
        <span class='header-value-prefix'>${of}</span>       
        <span class='header-value-text possible-value'>${possible}</span>
        <span class='header-value-postfix'>${postfix}</span>
    </div>
</div>